<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{subcategory}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{picture}}" width="500px" height="500px">
    <mat-card-content>
      <p>
        {{description}}
      </p>

      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. Alergies, etc" [(ngModel)]="this.orderedItem.note">{{this.orderedItem.note}}</textarea>
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="addItem()">ORDER</button>
      <button style="float: right;" mat-button (click)="cancelItem()">CANCEL ORDER</button>
    </mat-card-actions>

  </mat-card>
  
  