<div id="container-div">
    <div id="form-holder-div">
        <h1 class="h1 mb-3 font-weight-normal">Change Salary</h1>
        <form>
            <div>
                <input  [(ngModel)]="salary" matInput class="form-control" id="salary" name = "salary-input" type="number">
            </div>
            <div id="button-div">
                <button style="margin:15px;" color="primary" type="submit" class="btn btn-lg btn-primary btn-block" (click)="changeSalary()" id="change-salary-button">Change</button>
            </div>
        </form>
    </div>
</div>

