<div class="demo-button-container">


    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened class="side-menu"> 
          <div *ngFor="let button of floorRange">
            <button mat-raised-button color="primary" (click)="subSelected(button)" class="side-button">
           floor: {{ button }}</button>
         </div>
        </mat-sidenav>
        <mat-sidenav-content class="main-menu" id="main-content">
            <button mat-raised-button color="accent" (click)="addData()" class="demo-button">
                add table
              </button>
              <button mat-raised-button color="accent" (click)="addData()" class="demo-button" disabled>
                floor: {{this.activeFloor}}
              </button>
              <button mat-raised-button color="primary" (click)="removeData()" class="demo-button">
                delete table: {{this.activeTable.id}}
              </button>
              <div class="dragDropBorder">
                    <div *ngFor="let table of restourantTables">

                        <p class="example-box" cdkDrag cdkDragBoundary=".dragDropBorder" [cdkDragFreeDragPosition]="table.position" *ngIf="table.state==='free'" (click)="clickEvent(table)" (cdkDragEnded)="drop($event, table)">
                            {{table.id}}
                        </p>
                        <p  class="example-box2" cdkDrag cdkDragBoundary=".dragDropBorder" [cdkDragFreeDragPosition]="table.position" *ngIf="table.state==='ordeoccupiedred'" (click)="clickEvent(table)" (cdkDragEnded)="drop($event, table)">
                            {{table.id}}
                        </p>
                    </div>
                </div>
                
            

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>