<div style = " padding : 45px;" class="col-md-4 col-md-offset-4">
    <div id="form-holder-div">
        <h1 class="h1 mb-3 font-weight-normal">Change password</h1>
        <form [formGroup]="changePassowrdForm">
            <div>
                <label style="margin:5px;">Old password</label>
                <input matInput class="form-control" id="oldPassword" type="password" formControlName="oldPassword">
            </div>
            <div>
                <label style="margin:5px;" >New Password</label>
                <input matInput class="form-control" id="newPassword" type="password" formControlName="newPassword">
            </div>
            <div id="button-div">
                <button style="margin:15px;" color="primary" type="submit" class="btn btn-lg btn-primary btn-block" (click)="changePassword()" id="change-password-button">Change password</button>
            </div>
        </form>
    </div>
</div>
